/*
  CSS Rules: selector + declaration block
  Declaration: property + value
  Keep typing the property names and they will get into your brain
*/

/*
  Universal selector: selects all elements on the page (lowest priority)
  Useful for properties which doesn't get inherited. No inheritance involved
*/
* {
  margin: 0; /* Global reset: removes default spacing */
  padding: 0;
}

/* ===== PAGE SECTIONS ========== */

/* 
  Parent element of all the other elements in HTML
  Certain properties and their values get inherited by all children and can be easily overwritten
*/
body {
  color: #444; /* Grey color: same values on all 3 channels (shorthand) */
  font-family: sans-serif;
  border-top: 5px solid #1098ad; /* Not all properties get inherited, mostly ones related to text */
  position: relative;
}

/* Centering the content of the page */
.container {
  width: 800px;
  margin: 0 auto; /* Margin is the same on the right and left, calculated by the browser */
}

.main-header {
  background-color: #f7f7f7; /* RGB channels in hexadecimal format */
  padding: 20px 40px;
  margin-bottom: 60px; /* Vertical spacing: stick to bottom or top margins, do not mix them */
  /*height: 80px; //Box model: real height is 80px + padding values */
}

nav {
  font-size: 18px;
  /* text-align: center; */
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

/* Element selector: name of HTML element */
aside {
  background-color: #f7f7f7; /* Requires some padding */
  border-top: 5px solid #1098ad; /* Shorthand property: define multiple properties */
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

/* ===== SMALLER ELEMENTS ========== */

/* Combining selectors into a list-selector avoids repeating the same declaration on multiple rules */
h1,
h2,
h3 {
  color: #1098ad; /* Overriding inherited styles */
}

/* h1 doesn't need to be the biggest font-size. It's all about semantics */
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px; /* Collapsing margins: usually the larger is visible */
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* Id selector: not allowed to repeat id names */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* Styling links states (LVHA): targets elements with a href attribute */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad; /* Same color as link pseudo-class */
}

a:hover {
  color: orangered;
  text-decoration: underline orangered; /* Shorthand property */
}

a:active {
  font-weight: bold;
}

/*
  Size images in CSS, avoid doing this in HTML
  Images are inline-block elements (vertical spacing, height, width)
*/
.post-img {
  width: 100%; /* Porcentage of the parent's width */
  height: auto; /* Keeps original aspect ratio, only works if height is specified in HTML */
}

nav a:link {
  display: inline-block; /* Box model is applied */
  margin-right: 30px;
  margin-top: 10px;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute; /* Absolute position of the element in relation to the parent element (body -> relative) */
  bottom: 50px;
  right: 50px;
}

/* 
  Selects all p elements on the page 
  line-height is related to font-size
  strong, em: inheritance in font and others properties
*/
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* 
  Adjacent sybling selector: +

  h3 + p::first-line {
    color: red;
  }
*/

/* Pseudo-element: not an actual element in HTML but it can be selected with CSS */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* Pseudo-elements are inline elements */
h2::after {
  content: "TOP"; /* Mandatory property: can be an empty string */
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;

  display: inline-block;
  padding: 5px 10px;
  color: #444;

  position: absolute;
  top: -10px;
  right: -25px;
}

ol,
ul {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

/*
  Pseudo-class: select all li elements that are first child of their parents container
  Doesn't work really well on multiple mixed elements inside a container
*/
li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

/* 
  Odds and evens: useful when styling tables with alternating background colors
  
  li:nth-child(even) {
    color: red;
  }
*/

/* Misconception: this won't work! */
article p:first-child {
  color: red;
}

.related {
  list-style: none;
}

/*
  Class selector: allowed to repeat classes
  Convention: multiple words are separeted by - (kebab case)
*/
.related-author {
  font-size: 18px;
  font-weight: bold;
}

/*
  Resolving conflicts
  Id selector has an higher priority -> Selector specificity
  Same priority: last CSS rule applies
  Avoid using important keyword, write simpler selectors

  #copyright {
    color: red;
  }

  .copyright {
    color: blue;
  }

  .text {
    color: yellow;
  }

  footer p {
    color: green !important;
  }
*/

/* 
  Descending selector: p is a child of footer
  Encoding HTML structure into CSS makes the code hard to mantain

  footer p {
    font-size: 18px;
  }

  article header p {
    font-style: italic;
  }
*/
